<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.RoomInfoMapper">

    <resultMap id="BaseResultMap" type="com.hotel.pojo.RoomInfo">
            <result property="roomTypeId" column="room_type_id" />
            <result property="roomNumber" column="room_number" />
            <result property="status" column="status" />
    </resultMap>

    <select id="findByRoomTypeId" resultType="com.hotel.pojo.RoomInfo">
        select * from room_info where room_type_id = #{roomTypeId}
    </select>

    <select id="selectByRoomNum" resultType="com.hotel.pojo.RoomInfo">
        select * from room_info where room_number = #{roomNumber}
    </select>
</mapper>
